<h3> About Us</h3>
<p>This is a blog where students and staff members share there experiences at Moringa School.</p>
<p>We also post news updates about events that affect student and staff life in Moringa.</p>
<hr />
<h3>What we stand for</h3>
<h4>Vision</h4>
<p>Our vision is to increase access to high quality market driven education that empowers people to pursue excellence and transform society.</p>
<h4>Mission</h4>
<p>Our goal is to build human capacity by training people of varied technical ability in a holistic way; we focus on both technical proficiency and personal growth, meaning that graduates are effective learners and contributors, and well rounded employees and leaders.</p>
